
.completed{
    text-decoration: line-through;
}

.rounded {
    border-radius:.25rem!important
}
.container-custom{

    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #eee;
    
}

.complete{
    color: #ff69b4;
    border-color: #ff69b4;
    background: transparent;
}
.add{
    background-color: #ff1493;
    color: white;
    border-color: #eee;
}

.delete{
    
    color: black;
    border-color: #eee;
    background: transparent;
    border: none;
    
}
.high{
    color: crimson;
}
.low{
    color:darkgoldenrod;
}
