<div class="container">
  <h1>Networking To Do List</h1>
  <h3>Get to your dreams faster.</h3>
  <ol>
  @for (t of Tasks; track $index) {
    <li class="il" [class.completed]="t.completed">
      @if(t.completed == false){
      <button class="complete" (click)="CheckOffTask(t)">complete</button>
    }
    {{t.task}} ({{t.duration | number : '1.2'}}hr) 
    @if(t.priority == "high" || t.priority == "low"){  <span [class.high]="t.priority == 'high'" [class.low]="t.priority == 'low'">{{t.priority}}</span>}
    <button class="delete" (click)="DeleteTask(t)">X</button>
  </li>
  }
  </ol>
  <div class="form-container">
    <div>
    <span><label for="task">Enter new Task: </label>
    <input id="task" type="text" [(ngModel)]="formInput.task" /></span>
  </div>
  
    <label for="duration">How many hours do you estimate?(ex. 1, 0.75, 0.25) </label>
    <input id="duration" type="text" [(ngModel)]="formInput.duration" />
   
  <p>What is the priority?</p>
  <fieldset class="fieldset" id="group" [(ngModel)]="formInput.priority">
    <div>      
      <input type="radio" id="low" name="group">
      <label for="low">Low</label>
    </div>
    <div>
      <input type="radio" id="normal"  name="group">
      <label for="normal">Normal</label>
    </div>
    <div>
      <input type="radio" id="high"  name="group">
      <label for="high">High</label>
    </div>
</fieldset>
  
  <button class="add" type="submit" (click)="AddTask()">Add</button>
</div>
 

</div>